  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Anyang Joshua</h3>
      <p>here. now. for the future.</p>
      <div class="social-links">
        <a href="https://twitter.com/joshpydevops" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://github.com/joshuaanyang" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://www.linkedin.com/in/joshua-anyang" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>joshpydevops</span></strong>. All Rights Reserved
      </div>

    </div>
  </footer><!-- End Footer -->